{% extends 'base.html' %}

{% block title %}Mantenimientos{% endblock %}

{% block content %}
<h2>AQUI ESTAN LOS MANTENIMIENTOS</h2>
<p>Aqui se deberian mostrar todos los MANTENIMIENTOS.</p>
<h1>Mantenimientos Lista</h1>
<a href="#">Crear Mantenimiento</a>
    <ul>
        {% for maintenance in maintenances %}
        <li>
            <span>{{ maintenance.vehicle_plate }}</span> - 
            <span>{{ maintenance.maintenance_type }}</span> - 
            <span>
                {% for worker in maintenance.workers.all %}
                    {{ worker }}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </span>
            {% if maintenance.work_order %}
                {{ maintenance.work_order }} - 
            {% endif %}
            {% if maintenance.description %}
                {{ maintenance.description }} - 
            {% endif %}
            {% if maintenance.parts_replaced %}
                {{ maintenance.parts_replaced }} - 
            {% endif %}
            <span>{{ maintenance.creation_date }}</span> - 
            <span>{{ maintenance.completed }}</span>
            <a href="#">Editar</a>
            <a href="#">Borrar</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}